extends layout

append link
    link(rel='stylesheet' href='/MStyle.css')

block content
    .col.py-3
        // Header
        .container.mt-3
            .d-grid.mt-4.mb-3(style='color: white;')
                h1 DETAILS
        p.lead
            // Mainboard
            .container
                #box.d-grid.p-md-5
                    #innerbox.row
                        #picbox.col-12.col-lg-6.p-lg-1.mobileHide(style='background-color: rgb(92, 92, 92);')
                            img.responsive(src='https://m.media-amazon.com/images/I/41L5XqCNhGL._AC_.jpg')
                        #infobox.col-12.col-lg-6.ps-lg-5.pt-lg-2(style='background-color: rgb(255, 255, 255);')
                            form(action=`/doctors/delete/${doctor._id}` method='post')
                                .pt-3.butons
                                    a.btn.btn-primary.rounded-circle.btn-icon(href=`/doctors/update/${doctor._id}`)
                                        i.fas.fa-pen
                                    button.btn.btn-primary.rounded-circle.btn-icon(type='submit')
                                        i.fas.fa-minus
                            h2.col-12.mt-3(style='text-align: center;') Information

                            .overflow-auto.container.pt-4(style='max-height: 500px; max-width: auto;')
                                .row
                                    .col-12.col-lg-1.mobileHide
                                    #content.col-12.col-lg-5.mobileHide
                                        div
                                            b Name
                                        div(style='margin-top: 10px;')
                                            b Date of birth
                                        div(style='margin-top: 10px;')
                                            b Gender
                                        div(style='margin-top: 10px;')
                                            b Address
                                        div(style='margin-top: 10px;')
                                            b Email
                                        div(style='margin-top: 10px;')
                                            b Phone number
                                        div(style='margin-top: 10px;')
                                            b Department
                                        div(style='margin-top: 10px;')
                                            b Position
                                        div(style='margin-top: 10px;')
                                            b Salary
                                    #contentfill.col-12.col-lg-5.mobileHide
                                        if !doctor.Name
                                            div undefined
                                        else
                                            div= doctor.Name
                                        if !doctor.DoB
                                            div(style='margin-top: 10px;') undefined
                                        else
                                            div(style='margin-top: 10px;')= doctor.DoB
                                        if !doctor.Gender
                                            div(style='margin-top: 10px;') undefined
                                        else
                                            div(style='margin-top: 10px;')= doctor.Gender
                                        if !doctor.Address
                                            div(style='margin-top: 10px;') undefined
                                        else
                                            div(style='margin-top: 10px;')= doctor.Address
                                        if !doctor.Email
                                            div(style='margin-top: 10px;') undefined
                                        else
                                            div(style='margin-top: 10px;')= doctor.Email
                                        if !doctor.PhoneNumber
                                            div(style='margin-top: 10px;') undefined
                                        else
                                            div(style='margin-top: 10px;')= doctor.PhoneNumber
                                        if !doctor.Department
                                            div(style='margin-top: 10px;') undefined
                                        else
                                            div(style='margin-top: 10px;')= doctor.Department
                                        if !doctor.Position
                                            div(style='margin-top: 10px;') undefined
                                        else
                                            div(style='margin-top: 10px;')= doctor.Position
                                        if !doctor.Salary
                                            div(style='margin-top: 10px;') undefined
                                        else
                                            div(style='margin-top: 10px;')= doctor.Salary
                                    .col-12.col-lg-1.mobileHide
                                    #smcontent.col.overflow-auto.container.mobileShow(style='text-align: center; max-height: 450px; max-width: 210px;')
                                        img(src='https://m.media-amazon.com/images/I/41L5XqCNhGL._AC_.jpg' style='height: 50%; width: auto;')
                                        br
                                        br
                                        div Name: #{doctor.Name}
                                        div DoB: #{doctor.DoB}
                                        div Gender: #{doctor.Gender}
                                        div Address: #{doctor.Address}
                                        div Email: #{doctor.Email}
                                        div Phone number: #{doctor.PhoneNumber}
                                        div Department: #{doctor.Department}
                                        div Position: #{doctor.Position}
                                        div Salary: #{doctor.Salary}
